@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';
@import "../../node_modules/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import "../scss/utils/text";
@import "../scss/utils/utilities";
@import "../scss/utils/variables";
@import "../scss/utils/variables-dark";
@import './pages/index.scss';
