*, *::after, *::before {
  box-sizing: border-box;
  transition: all .2s; //提升視覺平滑性（JS 改變樣式時會受益）
  /*outline: solid 1px;測試範圍用*/
}

img {
  max-width: 100%;
  display: block; 
}

ul li {
  list-style-type: none;
}

.addTicket-panel {
  max-width: 920px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
  padding-top: 65px;
  padding-bottom: 48px;
  padding-right: 110px;
  padding-left: 110px;
}

.btn {
  background-color: $primary-400;
}

.btn:hover {
  background-color: $primary-300;
}

.searchBox {

}




.container {
  margin: 0 auto;
}

.main-content {
  max-width: 1296px;
  margin: 0 auto;
  padding-top: 93px;
  padding-bottom: 93px;

}


.ticketCard-img a {
  display: block;
  overflow: hidden;
}

.ticketCard-img img {
  width: 100%;
  height: 180px;
}

.ticketCard-img img:hover {
  
  transform: scale(1.1);
}

.ticketCard-region, .ticketCard-rank {
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
}

//標籤位置
.ticketCard-region {
  top: -25px;
  left: 0;
  padding: 12px 20px;
  
}

.ticketCard-rank {
  bottom: -16px;
  left: 0;
  padding: 5px 8px;
}

.alert-message {
   color: red;
}